
.x-switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 0.4rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    overflow: hidden;
    cursor: pointer;

    .x-switch-core {
        position: relative;
        width: 0.4rem;
        height: 0.2rem;
        background-color: #fff;
        transition: background-color 0.2s linear;
        border: 0.01rem solid #dbdbdb;
        border-radius: 0.1rem;

        .x-switch-button {
            position: absolute;
            top: 50%;
            left: 0.02rem;
            transform: translate(0%, -50%);
            width: 0.16rem;
            height: 0.16rem;
            background-color: #b2b2b2;
            border-radius: 0.1rem;
            transition: left .2s linear;
        }
    }

    .is-check {
        background-color: #ffbd39;
        transition: all 0.3s ease;
        border-color: #ffbd39;

        .x-switch-button {
            left: 0.2rem;
            transform: translate(0%, -50%);
            background-color: #fff;
        }
    }
}